/* Remember to change your username */
/* @import url('file:///home/USERNAME/.cache/wal/colors.css'); */

window#main-window {
    --toolbar-bgcolor: #121212 !important;
    --lwt-accent-color: #121212 !important;
    --lwt-toolbar-field-background-color: #121212 !important;
    --lwt-toolbar-field-color: #cccccc !important;
    --chrome-content-separator-color: none !important;
    --backbutton-background: none !important;
    --arrowpanel-background: #121212 !important;
    --arrowpanel-border-color: #121212 !important;

    --lwt-sidebar-background-color: #121212 !important;
}  

textbox {
    background-color: #121212 !important;
    border: none !important;
}

vbox[style], hbox[style] {
  background-color: #121212 !important;
  border: none !important;
}
.sidebar-placesTree {
    background-color: #121212 !important;
    border: none !important;
}
:root[lwt-popup-brighttext] {
    --panel-separator-color: #121212 !important;
    border: none !important;
}

#sidebar-header {
    border: none !important;
}

:root:not([uidensity="compact"]):not([chromehidden~="toolbar"]) #nav-bar[brighttext] > #PanelUI-button {
    border-image-source: linear-gradient(transparent, transparent) !important;
}

#urlbar,
#searchbar {
    border: none !important;
}

#identity-box,
#tracking-protection-icon-container,
.urlbar-icon, .tab-icon-image {
    display: none !important;
}

#toolbar-menubar:not([autohide="true"])+#TabsToolbar .tabbrowser-tab>.tab-stack>.tab-background,
:root:not([tabsintitlebar]) .tab-background,
:root[extradragspace] .tab-background {
    border-top: 0 !important;
}

.tab-line {
    height: 0 !important;
}

.close-icon {
    display: none !important;
}

#page-action-buttons>*:not(#star-button-box),
.urlbar-history-dropmarker {
    opacity: 0 !important;
}

#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}

/* Removal of black bottom 1px line */
#navigator-toolbox::after {
    display: none !important;
}

menubar,
menubutton,
menulist,
menu,
menuitem,
textbox,
toolbar,
tab,
tree,
.tree-rows {
    font-family: 'Input Sans Narrow', sans-serif !important;
    font-size: 14pt !important;
    font-weight: regular;
    font-style: normal !important;
    -moz-appearance: none !important;
    color: #cccccc !important;
}

#navigator-toolbox {
    --tabs-border-color: none !important;;

}

/* This removes the tab separators */
.tabbrowser-tab::before,
.tabbrowser-tab::after {
    display: none !important;
}

.tab-background[selected=true] {
  color: #121212 !important;
}

#sidebar-search-container {
  background-color: #121212;   
}

.panel-arrowcontainer, .panel-arrowcontainer, .panel-arrowcontent {
    border-radius: 14px !important;
}

/* This moves the tabs under the URL bar */
#titlebar {
    -moz-box-ordinal-group: 3 !important;
  }
.tabbrowser-tab {
    /* transition: color 0.25s !important; */
    text-align: center !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabbrowser-tab[selected="true"], .tab-label-container[selected="true"] {
  color: #9BA7DD !important;
  /* background-color: var(--color3) !important; */
  /* background-image: linear-gradient(var(--color3), var(--color3)) !important; */
}

.chromeclass-location {
    border: none !important;
    box-shadow: none !important;
    background-image: none !important;
    
}

.urlbarView:not(.megabar) {
    box-shadow: none !important;
    background-color: #121212 !important;
    font-family: 'Input Sans Narrow', sans-serif !important;
    font-size: 13pt !important;
}

.urlbarView-favicon {
    display: none !important;
}

.urlbarView-row[selected] {
    background: #9BA7DD !important;
    color: #121212 !important;
    fill-opacity: 1 !important;;
}

.sidebar-splitter {

    -moz-appearance: none;
    border: none !important;
}   
    
.customization-target {
    padding: 18px !important;   
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    